@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Manrope:wght@600&family=Overpass&display=swap");

:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--LightGrayishBlue);
  font-family: "Dancing Script", cursive;
  font-family: "Manrope", sans-serif;
  font-family: "Overpass", sans-serif;
}

/* selecting the main element */
main {
  width: 650px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row;
  margin: 16% auto;
  border-radius: 10px;
  font-size: 15px;
  transform: scale(1.2);
}

.drawers-container {
  width: 38%;
}
#flower {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.content {
  padding: 8px 30px 10px;
  width: 52%;
  margin: auto;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--DesaturatedDarkBlue);
}

small {
  color: var(--GrayishBlue);
}

.profile-container {
  width: 100%;
  display: flex;
  margin-top: 17px;
}

.profile-container div:first-child img {
  width: 45px;
  border-radius: 100%;
}

.profilename {
  font-size: 12px;
  flex-basis: 80%;
  margin: 0px 18px 0px;
  line-height: 20px;
}

.profilename span:first-child {
  color: var(--VeryDarkGrayishBlue);
  font-weight: 600;
}

.profilename span:last-child {
  color: var(--GrayishBlue);
}

.sharecon {
  position: relative;
}
.share-image {
  cursor: pointer;
  border: none;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  margin: 0;
  border-radius: 100%;
  background-color: var(--LightGrayishBlue);
}

#image1 {
  width: 13px;
}
.sharecon .logos {
  width: 200px;
  position: absolute;
  bottom: 145%;
  left: -99px;
  background-color: var(--DesaturatedDarkBlue);
  padding: 13px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sharecon .logos span,
.sharecon .logos img {
  margin-left: 15px;
}
.sharecon .logos span {
  letter-spacing: 4px;
  font-size: 0.9em;
  color: var(--LightGrayishBlue);
}

a{
  text-decoration: none;
}

.sharecon .logos::after {
  content: "";
  border: 10px;
  border-style: solid;
  border-color: var(--DesaturatedDarkBlue) transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

@media screen and (max-width: 800px) {
  main {
    width: 84vw;
    position: relative;
    overflow: hidden;
    transform: unset;
  }

  .drawers-container {
    width: 100%;
  }

  .content {
    width: 80%;
  }

  .sharecon {
    position: unset;
    margin-top: 4px;
  }

  .share-image {
    position: relative;
    z-index: 1;
  }

  .sharecon .logos {
    width: auto;
    padding: 25px;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
  }
}

@media screen  and (max-width:570px){
       main{
        flex-flow:column
       }  
}
